{% extends 'base.html' %}
{% block title %}
teste

{% endblock %}

{% block body %}
    <h1>Titulo 1</h1>
    <p>Hello World</p>
    {% for n in numeros %}
        <p>{{n}}</p>
    {% endfor %}
{% endblock %}